body, html {
  margin: 0;
}

body {
  padding: 1em;
}

#queryBtntDiv {
  margin-top: 1em;
  margin-left: 178px;
}

.btns {
  margin-bottom: 2em;
}

.btns span {
  margin-right: .5em;
}

.btns span.button {
	font-size: 100%;
  color: #000000;
  cursor: pointer;
  border-radius: 5px;
  padding: .3em .6em;
  margin-top: .5em;
  border: 1px #000000 solid;
  background: #F5F5F5;
}